{% extends 'base.html.twig' %}

{% block title %} Tous les scans {% endblock %}

{% block body %}


    <div class="row">

        {% for scan in scans %}
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h3 class="ml-2">{{ scan.title | upper }}</h3>
                    </div>
            
                </div>
                <div class="card-body">
                    <p>Pour voir le contenu, cliquez ici : <a href="{{ path('public_scan_detail',{'id': scan.id }) }}">voir plus</a></p>
                </div>
            </div>
        </div>

        {% endfor %}

</div>

{% endblock %}
