{% extends 'admin_base.html.twig' %}

{% block title %} Mon espace Admin {% endblock %}

{% block body %}
 
<button class="btn btn-lg btn-link" type="submit">
        <a class="btn btn-lg btn-link" href=""> Publier un épisode </a>
</button>
<button class="btn btn-lg btn-link" type="submit">
        <a class="btn btn-lg btn-link" href=""> Publier un film </a>
</button>
<button class="btn btn-lg btn-link" type="submit">
        <a class="btn btn-lg btn-link" href=""> Publier un article </a>
</button>
<button class="btn btn-lg btn-link" type="submit">
        <a class="btn btn-lg btn-link" href=""> Publier un chapitre </a>
</button>
{% endblock %}
