{% extends 'admin_base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-12 py-5">
            <div class="d-flex align-items-center justify-content-between">
                <h1>Liste des épisodes</h1>
                <a href="{{ path('episode_new') }}" class="btn btn-dark">+ Ajouter un épisode</a>
            </div>
        </div>

        {% for episode in episodes %}
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5>{{ episode.name }}</h5>
                </div>
                <div class="card-body">
                    <td>{{ episode.videoUrl }}</td>
                </div>
                <div class="card-footer">
                    <a href="{{ path('episode_edit', {'id': episode.id}) }}" class="btn btn-dark">modifier</a>
                </div>
            </div>
        </div>

        {% endfor %}
        
    </div>
{% endblock %}
