{% extends 'base.html.twig' %}

{% block title %} Morgan News {% endblock %}

{% block body %}
    <h1>Toutes les actualités ici</h1>
    <span class="clignote">NOUVEL EPISODE TOUS LES DIMANCHES </span>
    <div class="container">
    <img src="asset{{('/assets/image/morgan.jpg')}}">
    </div>
{% endblock %}
