<footer class="footer text-center text-white" style="background-color: dark;">

            <section class="mb-4">

                <a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com" role="button"><i
                        class="fab fa-facebook-f"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com" role="button"><i
                        class="fab fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com" role="button"><i
                        class="fab fa-instagram"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://linkedin.com" role="button"><i
                        class="fab fa-linkedin-in"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com" role="button"><i
                        class="fab fa-github"></i></a>
            </section>

            <section class="footer" style="background-color: dark;">
                <form action="foot" style="background-color: dark;">

                    <div class="row d-flex justify-content-center">

                        <div class="col-auto">
                            <p class="pt-2">
                                <strong>Inscrivez-vous à notre newsletter :</strong>
                            </p>
                        </div>

                        <div class="col-md-5 col-12">
                            <div class="form-outline form-white mb-4">
                                <input type="email" id="form5Example2" class="form-control" />
                                <label class="form-label" for="form5Example2">Adresse e-mail</label>
                            </div>
                        </div>

                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-light mb-4">
                                S'inscrire
                            </button>
                        </div>
                    </div>
                </form>
            </section>
            <section class="pied" style="background-color: rgb(92, 100, 209);">
                <div class="row mb-4">
                    <p>Projet : Chirine Laroussi </p>
                    <div>⠀⠀⠀⠀⠀⠀⠀⠀⠀</div>
                    <i class="fas fa-envelope"></i>
                    <a href="{{ path('contact') }}"> Contactez-nous !</a>
                </div>
            </section>
</footer>